{% extends "panel/layout.html.twig" %}

{% block content %}

    <div class="container-fluid">
        <div class="animated fadeIn">
            <div class="row bg-white">
                <div class="col p-4">
                    <h2>Welcome in Administration Panel</h2>
                    <hr>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
