{% trans_default_domain "shop" %}


<div class="agile-main-top">
    <div class="container-fluid">
        <div class="row main-top-w3l py-2">
            <div class="col-lg-4 header-most-top">
                <a class="text-white text-lg-left text-center"
                   style="text-decoration: none;font-size: 32px;"
                   href="{{ path('front_index') }}">
                    Patternage
                </a>
            </div>
            <div class="col-lg-8 header-right mt-lg-0 mt-2">
                <ul>

                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="text-center border-right text-white">
                            <a href="{{ path('auth_login') }}" class="text-white">
                                {#<i class="fas fa-sign-in-alt mr-2"></i>#}
                                Log In </a>
                        </li>
                        <li class="text-center border-right text-white">
                            <a href="{{ path('auth_register') }}" class="text-white">
                                {#<i class="fa fa-sign-out-alt mr-2"></i>#}
                                Register </a>
                        </li>
                    {% else %}
                        <li class="text-center border-left border-right text-white">
                            <a href="{{ path('auth_logout') }}" class="text-white">
                                {#<i class="fa fa-sign-out-alt mr-2"></i>#}
                                Logout </a>
                        </li>
                    {% endif %}
                </ul>
                <!-- //header lists -->
            </div>
        </div>
    </div>
</div>